@using Resources

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.FileName</title>
	<link rel="icon" type="image/png" href="~/Content/Images/logo_2014.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
	@Scripts.Render("~/bundles/jquery")
	@Html.Partial("DevExpressStyleScriptGenerator")
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/reactCss")
	@Scripts.Render("~/bundles/modernizr")
</head>
	<body>
		<div class="navbar customNavbarTop">
			<p class="navbar-brand">@ViewBag.FileName<p>
				<div class="navbar">
					<div class="nav navbar-nav customNavbarRight">
						<p class="Askod-logo">@Localization.Askod_Logo</p>
					</div>
				</div>
		</div>
		<div class="row customRow">
			<div class="col-10 customColumn">
				<div id="mainContent" class="body-content">
					@RenderBody()
				</div>
			</div>
			<div class="col RigthSightBar">
				<div id="usersList" class="body-content " />
			</div>
		</div>
		<div id="ReactModal"></div>
		<div id="ReactApp"></div>
		@{
			BundleTable.EnableOptimizations = false;
			@Scripts.Render("~/bundles/reactApp");
			BundleTable.EnableOptimizations = true;
		}
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
		<script src="~/Scripts/vendor/jquery.signalR-2.3.0.min.js"></script>
		<!--link to automaticly generated SignalR hub script-->
		<script src="~/signalr/hubs"></script>
	</body>
</html>
